body {
  font-family: Arial, Helvetica, monospace;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.section {
  clear: both;
  margin: 30px 30px 50px 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 90px #00000029;
          box-shadow: 0px 3px 90px #00000029;
  border: 0.5px solid #C8C8C8;
  border-radius: 6px;
}

.section .title-page {
  background-color: #72ACFF;
  font-size: 26px;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
}

.section .content {
  margin: 30px;
}

.section .content .feild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.section .content .feild .label {
  margin-top: 10px;
  min-width: 150px;
}

.section .content .feild .label p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.section .content .feild .label span {
  color: red;
}

.section .content .feild select {
  line-height: 40px;
  border: 5px solid #63B8FF;
  font-size: 18px;
  text-align: left;
  border-radius: 10px;
}

.section .content .feild select::-webkit-input-placeholder {
  opacity: 0.7;
}

.section .content .feild select:-ms-input-placeholder {
  opacity: 0.7;
}

.section .content .feild select::-ms-input-placeholder {
  opacity: 0.7;
}

.section .content .feild select::placeholder {
  opacity: 0.7;
}

.section .content .feild input {
  border: 5px solid #63B8FF;
  font-size: 18px;
  text-align: left;
  border-radius: 10px;
  margin-left: 20px;
  height: 50px;
  padding-left: 5px;
}

.section .content .feild input::-webkit-input-placeholder {
  opacity: 0.7;
}

.section .content .feild input:-ms-input-placeholder {
  opacity: 0.7;
}

.section .content .feild input::-ms-input-placeholder {
  opacity: 0.7;
}

.section .content .feild input::placeholder {
  opacity: 0.7;
}

.section .content .feild .text-check {
  font-size: 18px;
  margin-left: 5px;
}

.section .perform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
}

.section .perform button {
  text-align: center;
  padding: 11px 22px 8px 22px;
  border: none;
  line-height: 30px;
  min-width: 150px;
  color: #FFFFFF;
  border-radius: 6px;
}

.section .perform button:focus {
  outline: none;
}

.section .perform .confirm {
  margin-right: 12px;
  background: var(--unnamed-color-18c090) 0% 0% no-repeat padding-box;
  background: #18C090 0% 0% no-repeat padding-box;
}

.section .perform .back {
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
}

.section .perform .search {
  background: #0058FF 0% 0% no-repeat padding-box;
  margin-right: 12px;
}

.table-responsive {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 90px #00000029;
          box-shadow: 0px 3px 90px #00000029;
  border: 0.5px solid #C8C8C8;
  border-radius: 6px;
  display: block;
  width: 97% !important;
  margin-left: 30px;
  margin-bottom: 30px;
  min-height: 300px;
  font-size: 18px;
}

table {
  text-align: center;
}

table .status {
  padding: 0 !important;
}

table .status-stopped p {
  background: #92929D 0% 0% no-repeat padding-box;
}

table .status-working p {
  background: #11AA0C 0% 0% no-repeat padding-box;
}

table .status-pending p {
  background: #E9CB03 0% 0% no-repeat padding-box;
}

table .title th {
  background: #72ACFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 30px 3px 90px #00000029;
          box-shadow: 30px 3px 90px #00000029;
}

table p {
  display: inline-block;
  margin: 0;
  padding: 11px 22px;
  letter-spacing: 0px;
  color: #FFFFFF;
  border-radius: 6px;
  font-weight: bold;
}

table .performx {
  text-align: center;
  padding: 0 !important;
  width: 355px;
}

table .performx button {
  border: none;
  color: #FFFFFF;
  padding: 11px 45px;
}

table .performx button:focus {
  outline: none;
}

table .performx .detail {
  background: #30C0F0 0% 0% no-repeat padding-box;
  border-radius: 6px;
  margin-right: 12px;
}

table .performx .delete {
  background: #D31212 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

#hr {
  margin-top: 160px !important;
}

#address {
  max-width: 700px;
}

#code {
  max-width: 280px;
}

#name,
#email,
#phone, #website {
  max-width: 400px;
}

.myPages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
}

.myPages .count {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
/*# sourceMappingURL=style.css.map */